<h2>Show user</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
    <strong>Role:</strong>
    <%= @role.name %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-default" %>
<%= link "Back", to: user_path(@conn, :index), class: "btn btn-default" %>

