/* This file is for your main application css. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.searcher-box {
  height: 950px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.searcher-title {
  text-align: center;
}

.searcher-form {
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.searcher-submit {
  float: right;
  border: none;
  background: transparent;
  cursor: pointer;
  height: 100%;
}

.df_photos {
  display: inline-block;
}

/* relevant styles */
.df_photos .img_wrap {
  position: relative;
  height: 100%;
  float: left;
}

.df_photos img{
  height: 260px;
  width: 333px;
}

.df_photos .img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 300px;
  width: 360px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.df_photos .img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}
