<h1> Doggy </h1>


<%= form_for @conn, dog_request_path(@conn, :new), [as: :search], fn f -> %>
	<%= text_input f, :brand, class: "form-control" %>
    <%= submit "Submit", class: "btn btn-primary" %>
<% end %>

<h2>Dog Brand list</h2>
<%= for dog <- @dogs do %>
  <%= if dog.photo do %>
    <div class="dog_photo">
      <img src="<%= Dogfamily.ImageUploader.url({dog.photo, dog})%>" style="width:304px;height:228px;">
    </div>
  <% end %>
<% end %>
