<h2>New dog</h2>

<%= render "form.html", changeset: @changeset, action: residence_dog_path(@conn, :create, @residence) %>

<%= link "Back", to: residence_dog_path(@conn, :index, @residence), class: "btn btn-default" %>
