<h2>Show dog</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @dog.name %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @dog.age %>
  </li>

  <li>
    <strong>Image:</strong>
    <p>
      <img src="<%= Dogfamily.ImageUploader.url({@dog.photo, @dog})%>" style="width:304px;height:228px;">
    </p>
  </li>
</div>

</ul>

<%= link "Edit", to: dog_path(@conn, :edit, @dog), class: "btn btn-default" %>
<%= link "Back", to: dog_path(@conn, :index), class: "btn btn-default" %>
