<h2>Edit residence</h2>

<%= render "form.html", changeset: @changeset,
                        action: residence_path(@conn, :update, @residence) %>

<%= link "Back", to: residence_path(@conn, :index) %>
