<h2>New residence</h2>

<%= render "form.html", changeset: @changeset,
                        action: residence_path(@conn, :create) %>

<%= link "Back", to: residence_path(@conn, :index), class: "btn btn-default" %>
